<p id="notice"><%= notice %></p>

    <% @articles.each do |article| %>
      <div class="page-header">
        <h2><%= article.title %></h2>
        <%= image_tag article.image %>
        <p><%= link_to 'Lire l\'article', article %></p>
      </div>
    <% if current_user.try(:admin?) %>
        <div class="pull-right">
          <ul class="nav nav-pills">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Ecrire un nouvel article", new_article_path(@article), {:class => "link_to"} %></li>
                <li><%= link_to 'Modifier l\'article', edit_article_path(article) %></li>
                <li><%= link_to 'Supprimer l\'article', article, method: :delete, data: { confirm: 'Etes-vous sûr(e) ?' } %></li>
              </ul>
            </li>
          </ul>
        </div>
    <% end %>

    <% end %>
